@model IEnumerable<SistemaServicioTecnico.Models.Descripcionservicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Nuevos Servicios</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Crear Nuevo Servicio</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Id)
            </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
        </tr>
}
    </tbody>
</table>
